<%= form_for @player, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <h1>Spiller</h1>
  
  <div class="control-group">
    <%= f.label :name, "Navn", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :email, class: "input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Opret Spiller", class: "btn btn-primary" %>
    <%= link_to "Annuller", root_path, class: "btn btn-warning" %>
  </div>

  <small class="description attribution">
    Hvis du har et profil billede på <a href="http://gravatar.com/">Gravatar</a>, bruger vi det. 
  </small>

<% end %>
